body {
	font-family: Helvetica;
}

h1 {
	font-family: Palatino;
	font-size: 68px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	margin: 100px 0px;
}

h2 {
	font-family: Palatino;
	font-size: 38px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	margin: 100px 0px;
}

.big-number {
	display: block;
	position: relative;
	margin: 100px auto 100px auto;
	width: 100%;
	height: 200px;
}

.big-number__color-box {
	height: 150px;
	width: 150px;
	margin: 10px auto 50px auto;
	background-color: #FFEF00;
	
}

.big-number__number {
	position: absolute;
	top: 20px;
	width: 100%;
	font-family: Helvetica;
	font-size: 180px;
	text-align: center;
	font-weight: bold;
}

.wide-box {
	display: flex;
	width: 100%;
	margin: 0px auto;
	height: 200px;
	align-items: center;
}

.color-box {
	display: flex;
	align-items: center;
	width: 50%;
	background-color: #FFF;
	color: #000;
	font-size: 50px;
	text-align: center;
}

.color-box-text {
	text-align: center;
	width: 100%;
	padding: 10px;
}

.color-box--blue {
	background-color: #00CCBB;
	color: #fff;
}

.color-box--black {
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.gradient {
	height: 400px;
	flex-direction: column;
	justify-content: space-evenly;
	background: linear-gradient(to bottom right, #ff1493, #BF00FF);
}

.gradient-box-text {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 50px;
	color: white;
}

.narrow-box {
	position: relative;
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
}

.center-text-inverse {
	background: black;
	color: white;
	text-align: center;
	font-size: 50px;
	padding: 10px;
	margin: 0px auto;
	width: 30%;
}

.right-text-black {
	position: relative;
	top: -10px;
	left: 50%;
	background: white;
	color: black;
	text-align: right;
	font-size: 50px;
	width: 35%;
	padding: 0px;
}

.left-text-underline {
	position: relative;
	display: block;
	background: transparent;
	top: -30px;
	color: black;
	left: 30%;
	text-align: left;
	font-size: 50px;
	width: 23%;
	min-width: 65%;
	padding: 0px;
}

.offset-underline {
	background: #FFEF00;
	display: block;
	height: 4px;
	top: -30px;
	position: relative;
	width: 23%;
	left: 35%;
}

.wide-box--center {
	width: 90%;
	max-width: 800px;
	height: auto;
	position: relative;
}

.camden {
	width: 95%;
	max-width: 800px;
	padding-bottom: 28%;
	height: 250px;
	background-image: url("camden.jpg");
	background-size: cover;
}

.image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2%;
	width: 96%;
	height: 96%;
	display: flex;
	text-align: center;
	flex-flow: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;	
}

.camden p {
	text-align: center;
	color: black;
	font-size: 50px;
	font-weight: bold;
	align-self: center;
	vertical-align: baseline;
}
