body {
	font-family: Helvetica;
}

/* Headers */

h1 {
	font-family: Palatino;
	font-size: 68px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	margin: 100px 0px;
}

h2 {
	font-family: Palatino;
	font-size: 38px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	margin: 100px 0px;
}

h3 {
	font-family: Helvetica;
	font-size: 58px;
	font-weight: bold;
	margin: 0px;
	padding: 35px;
}

.big-number {
	display: block;
	position: relative;
	margin: 100px auto 100px auto;
	width: 100%;
	height: 200px;
}

.big-number__color-box {
	height: 150px;
	width: 150px;
	margin: 10px auto 50px auto;
	background-color: #FFEF00;
	
}

.big-number__number {
	position: absolute;
	top: 20px;
	width: 100%;
	font-family: Helvetica;
	font-size: 180px;
	text-align: center;
	font-weight: bold;
}

/* Containers */

.wide-box {
	display: flex;
	width: 100%;
	margin: 0px auto;
	height: 600px;
	align-items: center;
}

.wide-box--center {
	width: 90%;
	max-width: 800px;
	height: auto;
	position: relative;
}

.narrow-box {
	position: relative;
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
}

.thin-box {
	position: relative;
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0px auto;
}

.color-box {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: #FFF;
	color: #000;
	font-size: 50px;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.wide-box {
		display: block;
		width: 100%;
	}
	.color-box {
		display: flex;
		width: 100%;
		height: auto;
		min-height: 300px;
	}
}

.color-box-text {
	text-align: center;
	width: 100%;
	padding: 10px;
}

.color-box--blue {
	background-color: #00CCBB;
	color: #fff;
}

.color-box--black {
	background-color: #000;
	color: #fff;
}

.gradient {
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: linear-gradient(to bottom right, #ff1493, #BF00FF);
}

.gradient-box-text {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 50px;
	color: white;
}

/* "Elements not lining up" section */

.center-text-inverse {
	background: black;
	color: white;
	text-align: center;
	font-size: 50px;
	padding: 10px;
	margin: 0px auto;
	width: 30%;
	min-width: 300px;
}

.right-text-black {
	position: relative;
	top: -10px;
	left: 50%;
	background: white;
	color: black;
	text-align: right;
	font-size: 50px;
	width: 35%;
	padding: 0px;
}

.left-text-underline {
	position: relative;
	display: block;
	background: transparent;
	top: -30px;
	color: black;
	left: 30%;
	text-align: left;
	font-size: 50px;
	width: 23%;
	min-width: 65%;
	padding: 0px;
}

.offset-underline {
	background: #FFEF00;
	display: block;
	height: 4px;
	top: -30px;
	position: relative;
	width: 23%;
	left: 35%;
	min-width: 180px;
}

/* "Monochrome images" section */

.london {
	width: 100%;
	max-width: 1300px;
	padding-bottom: 28%;
	height: 250px;
	background-image: url("london.png");
	background-size: cover;
}

.image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2%;
	width: 96%;
	height: 96%;
	display: flex;
	text-align: center;
	flex-flow: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;	
}

.london p {
	text-align: center;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	align-self: center;
	vertical-align: baseline;
}

/* "Fonts" section */

.font-expo {
	text-align: center;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
	font-size: 50px;
}
.just-another-hand {
    font-family: 'Just Another Hand', cursive;
	font-size: 75px;
}
.serif {
    font-family: serif;
	font-size: 58px;
}
.sans-serif {
	font-family: sans-serif;
	font-size: 50px;
}

/* "Animate literally everything" secion*/

.animate-expo {
	overflow: hidden;
	min-height: 400px;
}

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.to-reveal {
	position: absolute;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
	opacity: 0;
}

.revealed {
	opacity: 1;
}

.to-raise {
	position: absolute;
	top: 50%;
	opacity: 0;
}

.raised {
	animation: raise-and-reveal 2s forwards 1.5s;
}

@keyframes raise-and-reveal {
	0% {
	  opacity: 0;
	  top: 50%;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1;
	  top: 25%;
	}
  }

.to-slide {
	position: absolute;
	top: 50%;
	opacity: 0;
	left: -300px;
}

.slid {
	animation: slide-in-and-reveal 2s forwards 3s;
}

@keyframes slide-in-and-reveal {
	0% {
	  opacity: 0;
	  left: -300px;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1;
	  left: 0;
	}
  }

.slid span.hinge {
	animation: rotate-letter 0.1s forwards 5.5s;
	display: inline-block;
	transform-origin: 10% 0%;
}

@keyframes rotate-letter {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);

	}
	100% {
		transform: rotate(30deg);
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
	}
  }

